hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

.background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index:9999;
}

.accountSelector {
    width: 800px;
    height: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    padding:10px;
}

.animated { 
    -webkit-animation-duration: 0.3s; 
    animation-duration: 0.3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

@keyframes bounceIn { 
    0% { 
        opacity: 0; 
        transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        transform: scale(1.05); 
    } 

    70% { 
        transform: scale(.9); 
    } 

    100% { 
        transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}

.entropyCollector {
    width: 600px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    padding:10px;
}

.passwordScreen {
    width: 400px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    padding:10px;
}

.transferScreen {
    width: 500px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    padding:10px;
}

.enterSeedScreen {
    width: 500px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
    color: #555;
    padding:10px;
}

.button {
    margin-top: 15px;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Arial;
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    background-color: white;
}

.styleSeed {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:16px;
    font-family:Courier;
    font-weight:500;
    background-color:rgba(0,255,0,0.1);
}

.title {
    font-size:22px;
    color:#999;
    margin-bottom:10px;
}

.addressesLeft {
    float:left;
    width:390px;
    height:450px;
    padding:5px;
    overflow-y:auto;
}

.addressesRight {
    float:right;
    width:390px;
    height:450px;
    padding:5px;
    overflow-y:auto;
}

.select {
    border-radius:5px;
    background-color:white;
    font-size:18px;
    color:#777;
}

.selectedAddress {
    padding-top:24px;
    font-size:18px;
    padding-left:20px;
    float:left;
}

.addressSpot {
    font-size:0px;
    padding:5px;
}

.addressSpot:hover {
    cursor: pointer;
    background-color:#eee;
}

.personaImage {
    padding-left:4px;
    border-radius:7px;
    width:45px;
    height:45px;
}

.closeModal {
    float: right;
    font-family: Courier;
    font-size: 24px;
    font-weight: bold;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.closeModal:hover {
    cursor: pointer;
    background-color:rgba(150,150,150,0.3);
    border-radius: 6px;
}
